html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import 'media.scss';


body {
    background: #f2f2f2;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

p {
    font-size: 18px;
    font-family: "Raleway", sans-serif;
}

.wrapper {
    max-width: 1198px;
    margin: 0 auto;
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 93px;
}


li {
    list-style: none;
    display: inline;
    margin-left: 100px;
    margin-right: 20px;
    cursor: pointer;
}

a {
    list-style-type: none;
}

.header__slider {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.slider__title {
    font-family: 'Raleway', sans-serif;
    font-size: 8rem;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.header__text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    text-align: right;
}

.red {
    color: red;
}
.slider__img {
    padding-top: 52px;
        img {
            width: 100%;
            height: auto;
        }
}


.slider__item {
    width: 48%;
}

.slider__content {
    flex-wrap: nowrap;
    text-align: right;
}

.slider__wrapper {
	display: flex;
    display: flex;
    justify-content: space-around;
}

.slider-toggle {
    margin: 93px auto 112px;
    max-width: 50px;
    align-content: center;

}

.main {
    background-color: #fff;

    .main-content {
        text-align: center;
    }
}
.main-gallery {
	margin: 0 auto;
}
.main__about {
    display: block;
    font-size: 48px;
    letter-spacing: 1px;
    padding-top: 114px;
    padding-bottom: 30px;
    color: #303030;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
}

.gallery__wrapp {
    max-width: 1000px;
    margin: 0 auto;
}
.gallery__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: 0 auto;		
}

.gallery__item {
    margin: 0 auto 35px auto;
    height: auto;
    width: 30%;
    max-height: 380px;
    overflow: hidden;
    border-radius: 10px;

    &:hover {
        background-image: none;
        opacity: 0.6;
    }

    img {
        // height: auto;
        width: 100%;
        &:hover {
            background-image: none;
            //background-color:#2c4070;
            opacity: 0.6;
        }
    }

}

.gallery__item-big {
    //height: auto;
    width: 60%;
    //max-width: 650px;
    overflow: hidden;
    border-radius: 10px;
    max-height: 380px;

    img {
        //height: 100%;
        width: 100%;
        // margin-right: 50px;
        //background: rgba(0,0,0,.5);

        &:hover {
            background-image: none;
            //background-color:#2c4070;
            opacity: 0.6;
        }
    }
}



.callback {
    text-align: center;

    .callback__input {
        min-width: 67%;
        min-height: 70px;
        background-color: #ffffff;
        border-radius: 25px 0 0 25px;
        border: none;
        font-family: Roboto-Black;
        font-size: 18px;
        text-align: left;
        color: #979797;
        padding-left: 45px;
        outline: none;
        background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
        background-size: 30px 30px;
        background-position: 11px 16px;
        background-repeat: no-repeat;
    }
}

.callback__btn {
    background-color: #e10011;
    min-width: 280px;
    min-height: 70px;
    border-radius: 0 25px 25px 0;
    border: none;
    font-family: "﻿Roboto";
    font-size: 18px;
    text-align: center;
    color: #ffff;
    cursor: pointer;
        &:hover {
            background-color: #e10071;
    }
}

.social {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 40px;

    .icons {
        margin-right: 30px;
        margin-left: 30px;
        color: grey;
            &:hover {
            color: blue;
        }
    }
}

footer {
    text-align: center;
    align-content: center;    
}


